@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@-webkit-keyframes flip-scale-2-hor-top{0%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 0;transform-origin:50% 0}50%{-webkit-transform:translateY(-50%) rotateX(-90deg) scale(2);transform:translateY(-50%) rotateX(-90deg) scale(2);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}100%{-webkit-transform:translateY(-100%) rotateX(-180deg) scale(1);transform:translateY(-100%) rotateX(-180deg) scale(1);-webkit-transform-origin:50% 100%;transform-origin:50% 100%}}@keyframes flip-scale-2-hor-top{0%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 0;transform-origin:50% 0}50%{-webkit-transform:translateY(-50%) rotateX(-90deg) scale(2);transform:translateY(-50%) rotateX(-90deg) scale(2);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}100%{-webkit-transform:translateY(-100%) rotateX(-180deg) scale(1);transform:translateY(-100%) rotateX(-180deg) scale(1);-webkit-transform-origin:50% 100%;transform-origin:50% 100%}}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #9E9E9E;
    display: grid;
    grid-template-columns: 4fr 10fr;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 3px;
    margin-right: 50px;
}

.sidebar{
    background-color: #616161;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    min-height: 100vh;
}

.library{
    height: 100%;
}

.form-popup {
    display: none;
    position: absolute;
    border: 3px solid #f1f1f1;
    background-color: lightgray;
    width: 40vw;
    height: 30vh;
    margin: 30vh auto auto 45vw;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.labelRead{
    font-style: italic;
    margin: 10px;
}

#autID{
    width: 50%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    height: 30px;
}

#bnID{
    width: 50%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    height: 30px;
}

#pagesID{
    width: 50%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    height: 30px;
}

#submit{
    margin-top: 10px;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: #212121;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.LogoText{
    font-size: 4rem;
    color: white;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 2vw;
}

#newBook{
    margin-top: 200px;
    margin-left: 175px;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: #212121;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}

.book{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 50px 10px 30px;
    background-color: rgba(97, 97, 97, 0.3);
}

.bookTitle{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}

.bookAuthor{
    font-size: 1.5rem;
    font-style: italic;
    margin: 10px;
}

.bookPages{
    font-size: 1.5rem;
    font-style: italic;
    margin: 10px;
}

.bookRead{
    font-size: 1.5rem;
    font-style: italic;
    margin: 10px;
    width: 20%;
    height: 20%;
    border-radius: 50px;
    cursor: pointer;
    background-color: #212121;
    color: white;
}

.bookDelete{
    font-size: 1.5rem;
    font-style: italic;
    margin: 10px;
    width: 20%;
    height: 20%;
    border-radius: 50px;
    cursor: pointer;
    background-color: #212121;
    color: white;
}

.flip-scale-2-hor-top {
    -webkit-animation: flip-scale-2-hor-top 0.5s linear reverse both;
    animation: flip-scale-2-hor-top 0.5s linear reverse both;
}